<!DOCTYPE html>
<html>
    <title>Welcome page</title>
    <h1>Hello! My name is {{name}} and welcome to my first HBS page template</h1>
    <body>
        <p>Today is {{day}}</p>
        <p>Current time: {{hrs}}:{{mins}}</p>
        <footer>Copyright {{year}}</footer>
    </body>
</html>